<%= link_to "Back to this movie", movie_path(@movie) %>

<h2>Edit this movie.</h2>
<%= render 'form' %>
<!--this will route to the partial _form.html.erb  You do not have to use _form.
routig is based on the folder config so no worries with dup/misroutes -->
